@model GardenHub.Web.ViewModel.Post.HomePostViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @foreach (var post in Model.Posts)
    {


        @if (post.Type == "Image" || post.Type == "ImageText")
        {

            <div class="card" style="width: 30rem;">
                <img class="card-img-top"
                     src="@Html.DisplayFor(modelItem => post.Image)"
                     alt="Post image">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => post.Description)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => post.Description)</p>
                    @if (Model.Account.Id == post.Account.Id)
                    {

                        <div class="postContainer">

                            <div class="postDivButtons">
                                <form method="get" asp-action="CreateComment" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="New Comment" class="btn btn-outline-success" />
                                </form>
                            </div>

                            <div class="postDivButtons">
                                <form method="get" asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="Edit" class="btn btn-outline-warning" />
                                </form>
                            </div>

                            <div class="postDivButtons">
                                <form method="post" asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="Delete" class="btn btn-outline-danger" />
                                </form>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="postContainer">
                            <div class="postDivButtons">
                                <form method="get" asp-action="CreateComment" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="CreateComment" class="btn btn-outline-success" />
                                </form>
                            </div>
                        </div>
                    }

                </div>
            </div>

        }
        else if (post.Type == "Text")
        {
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => post.Description)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => post.Description)</p>
                    @if (Model.Account.Id == post.Account.Id)
                    {

                        <div class="postContainer">

                            <div class="postDivButtons">
                                <form method="get" asp-action="CreateComment" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="CreateComment" class="btn btn-outline-success" />
                                </form>
                            </div>

                            <div class="postDivButtons">
                                <form method="get" asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="Edit" class="btn btn-outline-warning" />
                                </form>
                            </div>

                            <div class="postDivButtons">
                                <form method="post" asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="Delete" class="btn btn-outline-danger" />
                                </form>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="postContainer">
                            <div class="postDivButtons">
                                <form method="get" asp-action="CreateComment" asp-controller="Post" asp-route-id="@post.Id">
                                    <input type="hidden" asp-for="@post.Id" />
                                    <input type="submit" value="CreateComment" class="btn btn-outline-warning" />
                                </form>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    }
</div>
